@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  
} */


* {
  font-family: 'Reaktif', sans-serif;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Reaktif';
  src: url("/fonts/Reaktif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}